# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/

# VSCode/Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Outros
face_db/
*.log
*.sqlite3
